@model IEnumerable<WebApplication1.Models.MedicineViewModel>

@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped" style="width:94%;margin-top:8%">
    <tr>
        <th>
            <input type="button"
                   class="btn btn-block btn-primary"
                   style="width:30%"
                   value="Listele"
                   onclick="location.href='@Url.Action("Index2", "Home" )'" />
        </th>
        <th>
            <input type="button"
                   class="btn btn-block btn-primary"
                   style="width:130%"
                   value="Yeni İlaç Ekle"
                   onclick="location.href='@Url.Action("Index3", "Home" )'" />
        </th>
    </tr>
</table>

<table class="table table-striped" style="width:94%;margin-top:2%">
    <tr>
        <th>Id</th>
        <th>İlaç İsmi</th>
        <th>İlaç Birimi</th>
        <th>İlaç Miktarı</th>
        <th>Son Kullanma Tarihi</th>
        <th></th>
    </tr>
    <tbody>

        @if (Model != null && WebApplication1.Models.MedicineViewModel.showFlag == false)
        {
            foreach (var item in Model)
            {
                if (!item.IsDeleted)
                {
                    <tr>
                    <td>@item.MedicineId</td>
                    <td>@item.MedicineName</td>
                    <td>@item.MedicineUnit</td>
                    <td>@item.MedicineCount</td>
                    <td>@item.MedicineDate.Day/@item.MedicineDate.Month/@item.MedicineDate.Year</td>
                    <td>
                        @using (Html.BeginForm("deleteData", "Home", new { id = item.MedicineId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Sil" class="btn btn-block btn-primary"/>
                            </div>
                        }
                    </td>
                    </tr>
                }
            }
        }
        <tr></tr>
    </tbody>
</table>